@model JobbyProject.Models.Age

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div>

    <section class="content">
        <div class="container-fluid">

            <h4>Age</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MinAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MinAge)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MaxAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaxAge)
                </dd>

            </dl>
       
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>
 </section>
    </div>

