
@{
    ViewBag.Title = "Index";
}

<!-- MAIN-->
<main id="main">

    <!-- PAGE HEADING-->
    <section class="section page-heading js-parallax-scroll" style="background-image: url('../../Public/images/bg-heading-01.jpg');">
        <div class="container">
            <div class="page-heading-inner">
                <div class="section-heading section-heading-1 section-heading-1--tiny text-left">
                    <h2 class="section-heading__title">О нас</h2>
                    <div class="section-heading__line">
                        <img src="~/Public/images/icon/line-blue-small.png" alt="Line" />
                    </div>
                </div>
                <nav class="au-breadcrumb">
                    <ul class="list-unstyled list-breadcrumb">
                        <li class="list-breadcrumb__item">
                            <a href="@Url.Action("index","home")">Главная</a>
                        </li>
                        <li class="list-breadcrumb__item">О нас</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- END PAGE HEADING-->
    <!-- WELCOME-->
    <section class="section p-t-125 p-b-75 p-md-t-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-border img-border--blue">
                        <div class="img-border-inner">
                            <img src="~/Public/images/about-us-01.jpg" alt="About Us">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-l-70 p-md-l-0">
                        <div class="welcome-wrap welcome-wrap-2">
                            <div class="welcome-wrap__inner">
                                <div class="section-heading section-heading-1 section-heading-1--small text-left">
                                    <h2 class="section-heading__title">Добро пожаловать в JOBBY</h2>
                                    <div class="section-heading__line">
                                        <img src="~/Public/images/icon/line-blue-small.png" alt="Line">
                                    </div>
                                </div>
                                
                                <p class="m-b-60">

                                    Добро пожаловать в официальный сайт детского сада - «JOBBY»!. Мы очень рады, что Вы посетили нас. Наша работа в первую очередь адресована тем, кто заинтересован во всестороннем и гармоничном развитии своего ребенка, кто хочет поделиться своим опытом и рассказать о трудностях воспитания и обучения дошкольников, кто готов сотрудничать с квалифицированными педагогами. На нашем сайте Вы можете • узнать: - о последних новостях нашего детского сада; - о наших планах; - о проходящих в саду праздниках; - о жизни групп; • найти: - информацию о детском саде; - реализуемые педагогическим коллективом программы воспитания и обучения; - советы специалистов детского сада; - условия поступления в детский сад и необходимые документы; • посмотреть фото- и видеоальбомы; • задать интересующие Вас вопросы по воспитанию и обучению детей работникам детского сада. Надеемся, что наш сайт будет полезен как родителям воспитанников нашего детского сада, так и многим другим!
                                </p>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <!-- WHAT WE BRING-->
    <section class="section p-t-75 p-b-75">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="p-t-180 p-md-t-0 p-md-b-30">
                        <div class="section-heading section-heading-1 section-heading-1--small text-left m-b-35">
                            <h2 class="section-heading__title">Что мы обешаем</h2>
                            <div class="section-heading__line">
                                <img src="~/Public/images/icon/line-blue-small.png" alt="Line">
                            </div>
                        </div>
                        <div class="au-progress-wrap">
                            <div class="au-progress">
                                <span class="au-progress__title">Проходные балы</span>
                                <div class="au-progress__bar orange">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="82"></div>
                                    <span class="au-progress__value js-value"></span>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">Счастливые дети</span>
                                <div class="au-progress__bar violet">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="90"></div>
                                    <span class="au-progress__value js-value"></span>
                                </div>
                            </div>
                            <div class="au-progress">
                                <span class="au-progress__title">Счастливые родители</span>
                                <div class="au-progress__bar green">
                                    <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="100"></div>
                                    <span class="au-progress__value js-value"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="img-border img-border--pink">
                        <div class="img-border-inner">
                            <img src="~/Public/images/welcome-09.jpg" alt="Welcome 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WHAT WE BRING-->
    <!-- OUR STORY-->
    <section class="section p-t-75 p-b-150 p-md-b-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-border img-border--yellow">
                        <div class="img-border-inner">
                            <img src="~/Public/images/teacher-01.jpg" alt="Our Story">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-l-70 p-md-l-0">
                        <div class="welcome-wrap welcome-wrap-2">
                            <div class="welcome-wrap__inner">
                                <div class="section-heading section-heading-1 section-heading-1--small text-left">
                                    <h2 class="section-heading__title">Наша история</h2>
                                    <div class="section-heading__line">
                                        <img src="~/Public/images/icon/line-blue-small.png" alt="Line">
                                    </div>
                                </div>
                                <p class="m-b-15">
                                    Итак! Начинаем рассказать о том, как и кем, был создан детский сад – «JOBBY». Каждый человек, даже самый маленький имеет право выбора. А уж взрослый этим правом воспользуется всенепременно. Мы благодарны тем людям, кто доверил своих детей коллективу детского сада – «JOBBY». Мамедова Айсель Исмаил кызы – директор и учитель детского сада - «JOBBY», долгие годы работала в сфере образования. А.Мамедова полагаясь своему знанию и опыту, создала детский сад в одном из красивых уголках нашего замечательного города Баку.

                                    В «JOBBY» команда сложилась еще в 2010 году, была создана благоприятная атмосфера с добрыми приятными воспитательницами. Воспитательницы и их помощницы с огромным удовольствием ухаживают за детьми, а преподавательницы вкладывают все усилия, опыта и знания, чтобы дать хорошее образование. Наши поварихи готовят вкусную еду, а сотрудник службы охраны заботится о порядке и безопасности нашего сада.
                                </p>
                               
                                <div class="welcome-sign m-t-70">
                                    <img src="~/Public/images/icon/sign.png" alt="Sign">
                                    <div class="welcome-sign__content">
                                        <h5 class="name">Мамедова Айсель</h5>
                                        <span class="job">- Директор -</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OUR STORY-->
    <!-- PARTNER-->
    <section class="section bg-f7 p-t-60 p-b-60">
        <div class="wrap wrap--w1760">
            <div class="slick-partner">
                <div class="slick__wrap-content js-slick-wrapper" data-slick-xs="1" data-slick-sm="2" data-slick-md="4" data-slick-lg="4" data-slick-xl="6" data-slick-autoplay="true">
                    <div class="slick__content js-slick-content">
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-01.png" alt="Partner 1">
                            </a>
                        </div>
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-02.png" alt="Partner 2">
                            </a>
                        </div>
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-03.png" alt="Partner 3">
                            </a>
                        </div>
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-04.png" alt="Partner 4">
                            </a>
                        </div>
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-05.png" alt="Partner 5">
                            </a>
                        </div>
                        <div class="slick__item">
                            <a class="img-partner" href="@Url.Action("index","Error")">
                                <img src="~/Public/images/partner-06.png" alt="Partner 6">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PARTNER-->
</main>
<!-- END MAIN-->
